<%= content_for :column2 do %>
  <h1 class="h1_first">Edit Profile</h1>
  <%= render 'form' %>
<% end %>

<%= content_for :column3 do %>
  <h3>Actions</h3>
	<div class="col3_content contribute">
    <%= link_to 'All Users', profiles_path %>
	</div>
<% end %>
