<div id="col1"></div>
<div id="col2">
  <div id="col2_internal">
    <h1 class="h1_first">Users<h1>
      <table>

<% @profiles.each do |profile| %>
        <tr>
          <td><%= link_to profile.name, profile %></td>
        </tr>
      <% end %>
      </table>
  </div>
</div>
<div id="col3">
  <h3>Actions</h3>
  	<div class="col3_content contribute"> 
    <%if current_user%><%= link_to 'Edit Your Profile', edit_profile_path(current_user.profile) %><br><%end%>
  	</div>
	</div> 
	
</div>





