<h2>Notes:</h2>
<ul id="milestones  ">
<% item.notes.order("created_at DESC").each do |note|%>
<li style="list-style: none outside none;" class="milestone_addition">
	<div class="milestone_text"><strong><%=link_to note.name, note%>:</strong> <%=note.note[0..100]%> </div>
</li>
<% end %>
</ul>