<% content_for :column2 do %>
    <h1 class="h1_first">Recent Notes</h1>
      <table>
        <tr>
          <th>Note</th>
          <th></th>
        </tr>
<% @notes.each do |note| %>
        <tr>
          <td><%= link_to note.noteable.name, note.noteable %> >> <%= link_to note.name, note %>:<%= note.note[0..50] %></td>
        </tr>
      <% end %>
      </table>
<% end %>
