<% content_for :column2 do%>
    <h1 class="h1_first">Link Types</h1>
      <table>
        <tr>
          <th></th>
          <th></th>
          <th></th>
        </tr>
<% @link_types.each do |link_type| %>
        <tr>
          <td><%= link_to link_type.name, edit_link_type_path(link_type) %></td>
          <td><%= link_type.description %></td>
          <td><%= link_to 'Destroy', link_type, :confirm => 'Are you sure?', :method => :delete %></td>
        </tr>
      <% end %>
      </table>
<% end %>





