<div id="col1"></div>
<div id="col2">
  <div id="col2_internal">
    <h1 class="h1_first">People</h1>
      <table>
        <tr>
          <th>Name</th>
          <th></th>
        </tr>
<% @people.each do |person| %>
        <tr>
          <td><%= link_to person.name, person %></td>
          <td><%= link_to 'Edit', edit_person_path(person) %> | <%= link_to 'Destroy', person, :confirm => 'Are you sure?', :method => :delete %></td>
        </tr>
      <% end %>
      </table>
  </div>
</div>
<div id="col3">
  <%= render :partial => 'layouts/actions'%>
</div>





