<div id="col1"></div>
<div id="col2">
  <div id="col2_internal">
    <h1 class="h1_first">Relation Types</h1>
      <table>
        <tr>
          <th>Name</th>
          <th>Action</th>
          <th></th>
        </tr>
<% @relation_types.each do |relation_type| %>
        <tr>
          <td><%= relation_type.type_name %></td>
          <td><%= link_to relation_type.name, edit_relation_type_path(relation_type) %></td>
          <td><%= link_to 'Destroy', relation_type, :confirm => 'Are you sure?', :method => :delete %></td>
        </tr>
      <% end %>
      </table>
  </div>
</div>
<div id="col3">
  <%= render 'layouts/types'%>
</div>





