<% if !item.blank?%>
<h2><%=item_name%></h2>
<div class="col1_content">
<ul id="milestones">
  <% item.each do |relation|%>
<li style="list-style: none outside none;" class="milestone_addition">
  <%= link_to relation.childable.name, relation.childable %> <span id="edit_link"><%= link_to '(remove)', relation, :confirm => 'Are you sure?', :method => :delete %></span>
</li>
  <% end %>
</ul>
</div>
<% end %>
