<% form_for [item, Relationship.new], :html => {:id =>"org-relationship-form", :style => "display:none;" } do |f| -%>
<fieldset>
  <legend>Add a Organization Relationship</legend>
  <p>This person <%= select("relationship", "relation_type", RelationType.where("type_name = 'Person'").all.collect {|p| [ p.name, p.name ] })%> <%= select("relationship", "organization_id", Organization.all.collect {|p| [ p.name, p.id ] })%>
  </p>

  <a href="#" onClick="$('#org-relationship-form').hide();" id="hide">Hide Form</a>
    <%= f.submit 'Create' %>
  </p>
</fieldset>  
<% end %>
