<% form_for [item, Relationship.new], :html => {:id =>"product-relationship-form", :style => "display:none;" } do |f| -%>
<fieldset>
  <legend>Add a Product Relationship</legend>
  <p>This person <%= select("relationship", "relation_type", RelationType.where("type_name = 'Person'").all.collect {|p| [ p.name, p.name ] })%> <%= select("relationship", "product_id", Product.all.collect {|p| [ p.name, p.id ] })%></p>
  <a href="#" onClick="$('#product-relationship-form').hide();" id="hide">Hide Form</a>

  <p>
    <%= f.submit 'Create' %>
  </p>
</fieldset>  
<% end %>
