<% form_for [item, Relationship.new], :html => {:id =>"org-relationship-form", :style => "display:none;" } do |f| -%>
<fieldset>
  <legend>Add an Organization Relationship</legend>
  <p><%= select("relationship", "organization_id", Organization.all.collect {|p| [ p.name, p.id ] })%> <%= select("relationship", "relation_type", RelationType.where("type_name = 'Organization'").all.collect {|p| [ p.name, p.name ] })%> this product.</p>
  </p>
  <a href="#" onClick="$('#org-relationship-form').hide();" id="hide">Hide Form</a>  
  <p>
    <%= f.submit 'Create' %>
  </p>
</fieldset>  
<% end %>
