<div id="auth_menu">
<a href="/auth/twitter" class="auth_provider">
  <%= image_tag "twitter_64.png", :size => "64x64", :alt => "Twitter" %>
  Twitter
</a>

<a href="/auth/facebook" class="auth_provider">
  <%= image_tag "facebook_64.png", :size => "64x64", :alt => "Facebook" %>
  Facebook
</a>

<a href="/auth/github" class="auth_provider">
  <%= image_tag "github_64.png", :size => "64x64", :alt => "Github" %>
  Github
</a>
</div>
<div style="clear:both;" />