<h1 class="h1_first">Recently Added Organizations</h1>
  <ul id="milestones">
    <% @organizations.each do |organization|%>
    <li style="list-style: none outside none;" class="milestone_addition">
    <div class="milestone_favicon">
    	<%= contribution_image_type("added")%>
    </div>	
    	<div class="milestone_text"><strong><%= link_to organization.name, organization%></strong></div>
    </li>
    <% end %>
  </ul>
