<h2>CfA Base Stats</h2>
<div class="col1_content">
	<table>
		<tr><td class="td_left2"><a href="/organizations" title="Organizations" rel="nofollow">Organizations</a></td><td class="td_right2"><%=Organization.count%></td></tr>
		<tr><td class="td_left2"><a href="/people" title="People" rel="nofollow">People</a></td><td class="td_right2"><%=Person.count%></td></tr>
		<tr><td class="td_left2"><a href="/profiles" title="Users" rel="nofollow">Contributors</a></td><td class="td_right2"><%=User.count%></td></tr>
		<tr><td class="td_left2"><a href="/contributions" title="Contributions" rel="nofollow">Contributions</a></td><td class="td_right2"><%=Contribution.count%></td></tr> 		
	</table>
</div>
