	<h3>Top Contributors</h3> 
 
<div class="col3_content"> 
	<ul id="top_contributor_list"> 
		
		<li> 
			<a href="/user/UpstateVentureConnect" title="UpstateVentureConnect">UpstateVentureConnect</a> 
			<span class="top_contributor_score">214</span> 
		</li> 
	</ul> 
</div>