<% if !item.subdomains.blank?%>
<h2>Subdomains:</h2>
<div class="col1_content">
<ul id="milestones">
<li class="subdomain"><%= item.subdomains.order('name ASC').map(&:name).join(', </li><li class="subdomain">').html_safe %></li>
</ul>
<div style="clear: both" ></div>
</div>
<% end %>
