  <ul id="milestones">
    <% items.each do |item|%>
    <li style="list-style: none outside none;" class="milestone_addition">
    <div class="milestone_favicon">
    </div>	
    	<div class="milestone_text"><strong><%= link_to item.name, item%></strong></div>
    </li>
    <% end %>
  </ul>
