<% content_for :column2 do%>
    <h1 class="h1_first">Organization Types</h1>
      <table>
        <tr>
          <th></th>
          <th></th>
        </tr>

      <% @org_types.each do |org_type| %>
        <tr>
          <td><%= link_to org_type.name, edit_org_type_path(org_type) %></td>
          <td><%= link_to 'Destroy', org_type, :confirm => 'Are you sure?', :method => :delete %></td>
        </tr>
      <% end %>
      </table>
<%end%>



