<% if @organization.has_twitter_link? -%>
<h2>Twitter Stats:</h2>
<div class="col1_content">
  <% @organization.twitter_links.each do |link| %>
    <h3><%= twitter_link Twitalysis.link_to_handle(link.link_url) %>:</h3>
    <ul id="milestones">
      <li style="list-style: none outside none;" class="milestone_addition">
        <strong>Followers</strong>: <%= link.latest_stats.followers_count %>
      </li>
      <li style="list-style: none outside none;" class="milestone_addition">
        <strong>Following</strong>: <%= link.latest_stats.following_count %>
      </li>
      <li style="list-style: none outside none;" class="milestone_addition">
        <strong>Number of Posts</strong>: <%= link.latest_stats.statuses_count %>
      </li>
    </ul>
  <% end %>
</div>
<% end -%>
