<%= content_for :column2 do %>
    <h1 class="h1_first">New Organization</h1>
      <%= render 'form' %>
<% end %>

<%= content_for :column3 do %>
<h3>Actions</h3>
<div class="col3_content contribute">
  <%= link_to 'Back', organizations_path %>
</div>
<% end %>
