<% content_for :column2 do%>
    <h1 class="h1_first">Note Types</h1>
      <table>
  <% @note_types.each do |note_type| %>
        <tr>
          <td><%= link_to note_type.name, edit_note_type_path(note_type) %></td>
          <td><%= link_to 'Destroy', note_type, :confirm => 'Are you sure?', :method => :delete %></td>
        </tr>
      <% end %>
      </table>
<%end%>





