
<select class="formselect" name="license_key" id="license_key">
 <option value="" selected="selected" disabled="disabled">
 Select a license...
 </option>
 <option value="asf20">
 &nbsp;Apache License 2.0
 </option>
 <option value="epl">
 &nbsp;Eclipse Public License 1.0
 </option>

 <option value="gpl2">
 &nbsp;GNU GPL v2
 </option>

 <option value="gpl3">
 &nbsp;GNU GPL v3
 </option>

 <option value="lgpl">
 &nbsp;GNU Lesser GPL
 </option>

 <option value="mit">
 &nbsp;MIT License
 </option>

 <option value="mpl11">
 &nbsp;Mozilla Public License 1.1
 </option>

 <option value="bsd">
 &nbsp;New BSD License
 </option>

 <option value="oos">
 &nbsp;Other Open Source
 </option>

 </select>