<h3>Add Details</h3>
<div class="col3_content contribute">
<a href="#" id="hide_link" onClick="$('#address-form').show();">Add an Address</a><br>
<a href="#" id="hide_link" onClick="$('#contact-form').show();">Add Contact Details</a><br>
<a href="#" id="hide_link" onClick="$('#link-form').show();">Add a Link</a><br>
<a href="#" id="hide_link" onClick="$('#note-form').show();">Add a Note</a><br>
<a href="#" id="hide_link" onClick="$('#whisk-form').show();">Add a Whisk</a>
</div>
