<div id="search"> 
  <%= form_tag search_path, :method => 'get', :id => 'search_form' do %>
    <%= text_field_tag :search, params[:search], :id => 'search_box', :autocomplete => 'off' %>
    <%= submit_tag 'Search', :id => 'search_button', :class => 'button' %>
    <%= link_to 'Advanced Search', search_path, :id => 'advanced_search', :rel => 'nofollow', :title => 'Advanced Search' %>
  <% end %>
</div>
