<div id="search"> 
<form action="/search" method="get"> 
  <input autocomplete="off" id="search_box" name="query" type="text" /> 
  <input class="button" id="search_button" type="submit" value="Search" />
  <a href="#" id="advanced_search" rel="nofollow" title="Advanced Search">Advanced Search</a> 
</form> 
<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash_#{name}" %>
<% end %>
</div>
